.primary-color{
    background-color: #163172";
}

.secondary-color{
    background-color: #1E56A0";
}

.light-color{
    background-color: #F6F6F6";
}

.accent1-color{
    background-color: #D6E4F0";
}

.accent2-color{
    background-color: #F3ECD3";
}

.dark-color{
    background-color: #30343D";
}