@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
}

.primary-color{
    background-color: #163172";
}

.secondary-color{
    background-color: #1E56A0";
}

.light-color{
    background-color: #F6F6F6";
}

.accent1-color{
    background-color: #D6E4F0";
}

.accent2-color{
    background-color: #F3ECD3";
}

.dark-color{
    background-color: #30343D";
}